<div class="bg-white rounded-lg shadow p-4 mb-6">
  <h2 class="font-semibold mb-4 flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-funnel h-5 w-5" aria-hidden="true"><path d="M10 20a1 1 0 0 0 .553.895l2 1A1 1 0 0 0 14 21v-7a2 2 0 0 1 .517-1.341L21.74 4.67A1 1 0 0 0 21 3H3a1 1 0 0 0-.742 1.67l7.225 7.989A2 2 0 0 1 10 14z"></path></svg>
    <span>Filtros</span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
     <input type="number" placeholder="Ano" class="border rounded px-3 py-2 w-full">
      <select class="border rounded px-3 py-2 w-full">
        <option>Temporárias</option>
        <option>Permanentes</option>
      </select>
      <select class="border rounded px-3 py-2 w-full">
        <option>Todas</option>
      </select>
      <select class="border rounded px-3 py-2 w-full">
        <option>Todas</option>
      </select>
  </div>
  <div class="mt-4 flex gap-2">
      <button class="bg-white hover:bg-gray-200 text-gray-700 font-semibold px-4 py-1 rounded-md border-2">Buscar</button>
  </div>
</div>

<!-- <mat-card class="filtros-card">
  <mat-card-header>
    <mat-card-title>
    <mat-icon class="filtro-icon">filter_alt</mat-icon>
      Filtros e Controles
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="filtros-form">

      <mat-form-field appearance="fill" class="filtro-field dense">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="ano">
          <mat-option *ngFor="let ano of [2020,2021,2022,2023,2024]" [value]="ano">
            {{ ano }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filtro-field dense">
        <mat-label>Tipo de Lavoura</mat-label>
        <mat-select formControlName="lavoura">
          <mat-option value="">Todas</mat-option>
          <mat-option *ngFor="let lav of lavouras" [value]="lav.value">
            {{ lav.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filtro-field dense">
        <mat-label>Região</mat-label>
        <mat-select formControlName="regiao">
          <mat-option value="">Todas</mat-option>
          <mat-option *ngFor="let reg of regioes" [value]="reg">
            {{ reg }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filtro-field dense">
        <mat-label>Cultura</mat-label>
        <mat-select formControlName="producao">
          <mat-option value="">Todas</mat-option>
          <mat-option *ngFor="let prod of producoesFiltradas" [value]="prod.value">
            {{ prod.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="actions">
        <button mat-stroked-button color="primary" (click)="atualizar()">
          <mat-icon>refresh</mat-icon>
          Atualizar
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card> -->
