<div class="w-full max-w-md mx-auto bg-white rounded-xl shadow p-4 mb-4">
  <h2 class="text-lg font-bold mb-3">🏆 {{ titulo }}</h2>

  <ul class="divide-y divide-gray-200">
    <li
      *ngFor="let item of itens"
      class="flex items-center justify-between py-2"
    >
      <div class="flex items-center gap-2">
        <!-- Posição -->
        <span
          class="w-6 h-6 flex items-center justify-center text-xs rounded-full font-bold"
          [ngClass]="getBadgeColor(item.posicao)"
        >
          {{ item.posicao }}
        </span>

        <!-- Nome -->
        <span class="font-medium">{{ item.descricao }}</span>

        <!-- Etiqueta colorida -->
        <span
          class="inline-flex items-center rounded-full border px-2.5 py-0.5 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground text-xs" *ngIf="item.tag !== ''"
          
        >
          {{ item.tag }}
        </span>
      </div>

      <span class="text-sm font-semibold text-gray-700">
        {{ formatarPeso(item.valor) }}
      </span>
    </li>
  </ul>
</div>
